{% extends "base.html" %}

{% block title %}
Explore Recipes
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Our Recipes.</h1>
    <form class="search" action="{{ url_for('explore.search')}}#content-column" method="GET">
        <input type="text" name="search" class="search-bar" placeholder="Search Recipe...">
        <input type="submit" value="Search" class="search-btn">
    </form>
    <div class="see-all">
        <a href="{{ url_for('explore.search') }}#content-column">
            <button class="btn-primary">See All</button>
        </a>
    </div>
    
    <div class="content-wrapper">
        <div class="filter-column">
            <h2>Filter Recipes:</h2>
            <form class="filter-form" action="{{ url_for('explore.search') }}" method="GET">
                <p>
                    <!-- Filter by food type -->
                    <label for="type_food">Food Type:</label>
                    <select name="type_food" id="type_food">
                        <option value="">--Select--</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Korean">Korean</option>
                        <option value="Thai">Thai</option>
                        <option value="Indian">Indian</option>
                        <option value="American">American</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Italian">Italian</option>
                        <option value="French">French</option>
                        <option value="Eastern Europe">Eastern Europe</option>
                        <option value="Arab">Arab</option>
                        <option value="African">African</option>
                        <option value="Other">Other</option>
                    </select>

                    <!-- Filter by food category -->
                    <label for="category_food">Category Food:</label>
                    <select name="category_food" id="category_food">
                        <option value="">--Select--</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Meal">Meal</option>
                        <option value="Brunch">Brunch</option>
                        <option value="Snack">Snack</option>
                        <option value="Dessert">Dessert</option>
                    </select>

                    <!-- Filter by serving -->
                    <label for="servings">Servings:</label>
                    <input type="number" name="servings" min="1" max="10">

                    <!-- Filter by Cook Time -->
                    <label for="cook_time">Cook Time (minutes):</label>
                    <select name="cook_time" id="cook_time">
                        <option value="">--Select--</option>
                        <option value="0-30">Less than 30 minutes</option>
                        <option value="30-60">30 to 60 minutes</option>
                        <option value="60-90">60 to 90 minutes</option>
                        <option value="90-120">90 to 120 minutes</option>
                        <option value="120+">More than 120 minutes</option>
                    </select>
                </p>
                <input type="submit" value="Aply Filters" class="filter-btn">
            </form>
        </div>
    </div>
</div>
{% endblock %}