{% extends "base.html" %}

{% block title %}
Recipe
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
<!-- SWIPER CSS-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% block content %}

<div class="button-container">
    {% if current_user.is_authenticated %} 
        {% if is_bookmarked %}
        <form action="{{ url_for('main.bookmark_recipe') }}" method="post" class="bookmark-form">
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <button type="submit" class="bookmark-button unbookmark">🤎 Unbookmark</button>
        </form>
        {% else %}
        <form action="{{ url_for('main.bookmark_recipe') }}" method="post" class="bookmark-form">
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <button type="submit" class="bookmark-button bookmark">🤍 Bookmark</button>
        </form>
        {% endif %}
    {% endif %}

    {% if current_user.is_authenticated and current_user.id == user.id %} 

        <button type="submit" id="myBtn" class="edit-button edit-form">✏️ Edit Recipe</button>
        
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>✏️ Edit Recipe</h2>
                <!-- Edit form -->
                <form action="{{ url_for('main.edit_recipe') }}" method="post" class="edit-form">
                    <label for="edit_name">🔤 Name:</label>
                    <input type="text" id="edit_name" name="edit_name" value="{{ recipe.title }}">
                    <label for="edit_description"> 📝 Description: </label>
                    <textarea id="edit_description" name="edit_description" rows="10" cols="30"> {{ recipe.description }} </textarea>
                    <label for="edit_servings">👥 Servings: </label>
                    <input type="number" id="edit_servings" name="edit_servings" min="1" max="25" value="{{ recipe.servings }}">
                    <label for="edit_cook_time">⏲️ Cook Time: </label>
                    <input type="number" id="edit_cook_time" name="edit_cook_time" min="1" max="1440" value="{{ recipe.cook_time }}">
                    <label for="edit_type_food">🍽️ Food Type:</label>
                    <select name="edit_type_food" id="edit_type_food">
                        <option value="Mexican" {% if recipe.type_food == "Mexican" %}selected{% endif %}>Mexican</option>
                        <option value="Japanese" {% if recipe.type_food == "Japanese" %}selected{% endif %}>Japanese</option>
                        <option value="Chinese" {% if recipe.type_food == "Chinese" %}selected{% endif %}>Chinese</option>
                        <option value="Korean" {% if recipe.type_food == "Korean" %}selected{% endif %}>Korean</option>
                        <option value="Thai" {% if recipe.type_food == "Thai" %}selected{% endif %}>Thai</option>
                        <option value="Indian" {% if recipe.type_food == "Indian" %}selected{% endif %}>Indian</option>
                        <option value="American" {% if recipe.type_food == "American" %}selected{% endif %}>American</option>
                        <option value="Spanish" {% if recipe.type_food == "Spanish" %}selected{% endif %}>Spanish</option>
                        <option value="Italian" {% if recipe.type_food == "Italian" %}selected{% endif %}>Italian</option>
                        <option value="French" {% if recipe.type_food == "French" %}selected{% endif %}>French</option>
                        <option value="Eastern Europe" {% if recipe.type_food == "Eastern Europe" %}selected{% endif %}>Eastern Europe</option>
                        <option value="Arab" {% if recipe.type_food == "Arab" %}selected{% endif %}>Arab</option>
                        <option value="African" {% if recipe.type_food == "African" %}selected{% endif %}>African</option>
                        <option value="Other" {% if recipe.type_food == "Other" %}selected{% endif %}>Other</option>
                    </select>
                    <label for="edit_category_food">🍴 Category Food:</label>
                    <select name="edit_category_food" id="edit_category_food">
                        <option value="Breakfast" {% if recipe.category_food == "Breakfast" %}selected{% endif %}>Breakfast</option>
                        <option value="Meal" {% if recipe.category_food == "Meal" %}selected{% endif %}>Meal</option>
                        <option value="Brunch" {% if recipe.category_food == "Brunch" %}selected{% endif %}>Brunch</option>
                        <option value="Snack" {% if recipe.category_food == "Snack" %}selected{% endif %}>Snack</option>
                        <option value="Dessert" {% if recipe.category_food == "Dessert" %}selected{% endif %}>Dessert</option>
                    </select>
                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                    <button type="submit" class="bookmark-button unbookmark">Save</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>



<h1 class="recipe-title">{{ recipe.title }}</h1>
<div class="user-image">
    <img src="{{ url_for('static', filename='photos/users/' + user.profile_image) }}" alt="Profile Picture">
    <span class="user"> Submitted by chef <a href="{{ url_for('main.user', user_id=user.id) }}"> {{ user.username }}</a></span>    
</div>


<div class="recipe-info">
    <div class="recipe-servings">
        <h3>👥 <span class="servings-count">{{ recipe.servings }}</span></h3>
    </div>
    <div class="recipe-cook_time">
        <h3>⏲️ <span class="cook_time-count">{{ recipe.cook_time }}'</span></h3>
    </div>
    <div class="recipe-type_food">
        <h3>🍽️ <span class="type_food-count">{{ recipe.type_food }}</span></h3>
    </div>
    <div class="recipe-category_food">
        <h3>🍴 <span class="category_food-count">{{ recipe.category_food }}</span></h3>
    </div>
    <div class="recipe-rating">
        <h3>⭐ <span class="rating-count">{{ rating }} {{ count }}</span></h3>
    </div>
</div>


<div class="recipe-card">
    <div class="card-columns">
        <!-- Column 1 -->
        <div class="card-column1">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Description', 'tabcontent', 'tablinks')" id="default">📝 Description</button>
                <button class="tablinks" onclick="openTab(event, 'Steps', 'tabcontent', 'tablinks')">🔢 Steps</button>
                <button class="tablinks" onclick="openTab(event, 'Ingredients', 'tabcontent', 'tablinks')">🥕 Ingredients</button>
                <button class="tablinks" onclick="openTab(event, 'Rate', 'tabcontent', 'tablinks')">⭐ Rate</button>
            </div>
            
            <!-- Tab content -->
            <div id="Description" class="tabcontent">
                <h2>📝 Description</h2>
                <p>{{ recipe.description }}</p>
            </div>
            
            <div id="Steps" class="tabcontent">
                <h2>🔢 Steps</h2>
                <ol type="1">
                    {% for step in recipe.steps %}
                        <li><span class="step-description">{{ step.description }}</span></li>
                    {% endfor %}
                </ol>
            </div>

            <div id="Ingredients" class="tabcontent">
                <h2>🥕 Ingredients</h2>
                <ul style="list-style-type:circle;">
                    {% for ingredient in ingredients_info %}
                        <li>{{ ingredient.name }}: <span class="ingredient-description">{{ ingredient.quantity }} {{ ingredient.unit_of_measurement }}</span></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div id="Rate" class="tabcontent">
                <h2>⭐ Rate</h2>
                {% if is_rated %}
                    <p> You have rated this recipe with ⭐{{ current_rate }} </p>
                {% endif %}
                <form method="post" class="rate-form" action="{{ url_for('main.rate_recipe') }}">
                    {% if is_rated %}
                        <label for="rating">Chef, update your rating!</label>
                    {% else %}
                        <label for="rating">Chef, rate this recipe!</label>
                    {% endif %}
                    <p class="rating-area">
                        <input id="radio1" type="radio" name="rating" value="1">
                        <label class="star" for="radio1">⭐</label>
                        <input id="radio2" type="radio" name="rating" value="2">
                        <label class="star" for="radio2">⭐</label>
                        <input id="radio3" type="radio" name="rating" value="3">
                        <label class="star" for="radio3">⭐</label>
                        <input id="radio4" type="radio" name="rating" value="4">
                        <label class="star" for="radio4">⭐</label>
                        <input id="radio5" type="radio" name="rating" value="5">
                        <label class="star" for="radio5">⭐</label>
                    </p>
                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                    <button type="submit" class="bookmark-button unbookmark">Submit</button>
                </form>
            </div>
        </div>
    
        <!-- Column 2 -->
        <div class="card-column2">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks2" onclick="openTab(event, 'Chef Pictures', 'tabcontent2', 'tablinks2')" id="default2">📸🧑🏻‍🍳 Chef Pictures</button>
                <button class="tablinks2" onclick="openTab(event, 'Users Pictures', 'tabcontent2', 'tablinks2')">📷👥 Users Pictures</button>
                <button class="tablinks2" onclick="openTab(event, 'Your Pictures', 'tabcontent2', 'tablinks2')">📷👤 Your Pictures</button>
                <button class="tablinks2" onclick="openTab(event, 'Upload Pictures', 'tabcontent2', 'tablinks2')">⤴️ Upload Pictures</button>
            </div>
            <!-- Tab content -->
            <div class="card-image" >
                <div id="Chef Pictures" class="tabcontent2">
                    <h2>📸 Pictures submitted by the Chef</h2>
                    <div class="recipes__container swiper">
                        <div class="swiper-wrapper">
                            <!--Bucle for aquí con las recetas-->
                            {% if chef_photos %}
                                {% for photo in chef_photos %}
                                <div class="recipes__content swiper-slide">
                                    <img src="{{ url_for('static', filename='photos/recipes/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="recipe image" class="recipes__img">
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- SWIPER ARROWS AND PAGINATION-->
                        <div class="swiper-button-next">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div id="Users Pictures" class="tabcontent2">
                    <h2>📷 Pictures submitted by users</h2>
                    <div class="recipes__container swiper">
                        <div class="swiper-wrapper">
                            <!--Bucle for aquí con las recetas-->
                            {% if recipe.photos %}
                                {% for photo in recipe.photos %}
                                <div class="recipes__content swiper-slide">
                                    <img src="{{ url_for('static', filename='photos/recipes/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="recipe image" class="recipes__img">
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- SWIPER ARROWS AND PAGINATION-->
                        <div class="swiper-button-next">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div id="Your Pictures" class="tabcontent2">
                    <h2>📷 Pictures submitted by yourself</h2>
                    <div class="recipes__container swiper">
                        <div class="swiper-wrapper">
                            <!--Bucle for aquí con las recetas-->
                            {% if your_photos %}
                                {% for photo in your_photos %}
                                <div class="recipes__content swiper-slide">
                                    <div class="photo-container">
                                        <img src="{{ url_for('static', filename='photos/recipes/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="recipe image" class="recipes__img">
                                        <form action="{{ url_for('main.delete_photo') }}" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                                            <input type="hidden" name="photo_id" value="{{ photo.id }}">
                                            <button class="delete-button">❌</button>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- SWIPER ARROWS AND PAGINATION-->
                        <div class="swiper-button-next">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div id="Upload Pictures" class="tabcontent2">
                    <h2>⤴️ Upload Pictures to the Realm</h2>
                    {% if current_user.is_authenticated %} 
                    <form action="{{ url_for('main.upload_photo') }}" method="post" enctype="multipart/form-data">
                        <label for="fileUpload">Upload an image:</label>
                        <input type="file" id="fileUpload" name="file" accept="image/jpeg,image/png" required>
                        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                        <button type="submit" class="bookmark-button unbookmark">Upload Image</button>
                    </form>
                    {% else %} 
                    <p> ⚠️ Not too fast Chef! You must be logged in to upload pictures </p>
                    <form action="{{ url_for('auth.login') }}">
                        <button type="submit" class="bookmark-button unbookmark">Log in</button>
                    </form>
                    {% endif %} 
                </div>

            </div>
        </div>
    </div>
</div>


<!-- EDIT JS -->
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
</script>


<!-- TABS JS -->
<script>
    function openTab(evt, Name, tab_content, tab_links) {

        console.log(Name);
        console.log(tab_content);
        console.log(tab_links);
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName(tab_content);
        console.log(tabcontent);
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName(tab_links);
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(Name).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Get the element with id="default" and click on it
        window.onload = function() {
            // Get the element with id="default" and click on it
            document.getElementById("default").click();
            document.getElementById("default2").click();
        };
</script>

<!-- STARS JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.rating-area .star');
    
        stars.forEach(star => {
            star.addEventListener('click', function () {
                let clickedIndex = Array.from(stars).indexOf(star);
                stars.forEach((s, index) => {
                    if (index <= clickedIndex) {
                        s.classList.add('enlarged');
                    } else {
                        s.classList.remove('enlarged');
                    }
                });
            });
        });
    });
</script>

<!-- SWIPER JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    let swiper = new Swiper(".swiper", {
        loop: true,
        spaceBetween: 24,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        breakpoints: {
            1200: {
                slidesPerView: 1,
                spaceBetween: 0,
            }
        },
    });

    window.addEventListener('load', function() {
        var slides = document.querySelectorAll('.swiper-slide');
        slides.forEach(function(slide) {
            slide.style.marginRight = '0px';
        });
    });
</script>


{% endblock %}
