{% extends "base.html" %}

{% block title %}
SignUp 
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="container main">
<h2>Sign Up</h2>
<form action="{{ url_for('auth.signup_post') }}" method="post">
    {% with messages = get_flashed_messages(category_filter=["signup_error"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-signup_error">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="@" required >
        <!-- JS to ensure the input starts with "@" -->
        <script>
        // When the document is fully loaded, attach an event listener to the input field
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('username');
            
            input.addEventListener('input', function() {
            // Check if the value doesn't start with "@" and prepend it
            if (input.value.length > 0 && !input.value.startsWith('@')) {
                input.value = '@' + input.value;
            }
            });
        });
        </script>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="password_repeat">Confirm Password:</label>
        <input type="password" id="password_repeat" name="password_repeat" required>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <p>
        Do you already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
    </p>
</form>
</div>
{% endblock %}