{% extends "base.html" %}

{% block title %}
User
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="profile-header">
    <h1>User Profile</h1>
    <p>Welcome to your profile page, chef!</p>
  </div>
  
  <div class="profile-content">
    <div class="profile-picture">
      <img src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h2>{{user.name}}</h2>
      <p>@johndoe</p>
      <p>Member since: January 2023</p>
    </div>
    <div>
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Pellentesque habitant morbi tristique senectus et netus.</p>
    </div>
  </div>
  
  <div class="profile-footer">
    <p>Contact info: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
  </div>
</div>
{% endblock %}
