{% extends "base.html" %}

{% block title %}
User
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}

<!-- User Profile -->
<div class="profile-container">
  <div class="profile-header">
    <h1>🧑🏻‍🍳 Chef Profile</h1>
  </div>
  
  <div class="profile-content">
    <div class="profile-picture">
      <img src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h3>{{user.name}}</h3>
      <p>{{user.username}}</p>
      <p>Chef since: {{user.sign_up_date.month}}/{{user.sign_up_date.year}}</p>
    </div>
    <div>
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Pellentesque habitant morbi tristique senectus et netus.</p>
    </div>
    <p>Contact info: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
  </div>
</div>

<!-- Recipes Created by User -->
<div class="recipes-grid">
    <div class="recipes-header">
        <h1>🍽️ User Recipes</h1>
    </div>

    {% for recipe in recipes %}
    <div class="recipe-card">
        <div class="card-image">
        </div>
        <div class="card-body">
            <h3 class="recipe-title">{{ recipe.title }}</h2>
            <span class="recipe-description">
                <h2>📝 Description</h3>
                <p>{{ recipe.description }}</p>
                </span>
            <span class="recipe-servings">
                <h2>🍴 Servings</h3>
                <p>{{ recipe.servings }}</p>
            </span>
            <span class="recipe-cook-time">
                <h2>⏲️ Cook Time</h3>
                <p>{{ recipe.cook_time }}</p>
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Bookmarked Recipes by User -->
{% if current_user.is_authenticated: %}
  <div class="bookmark">
    <div class="bookmark-header">
      <h1> 📂 Bookmarked Recipes </h1>
    </div>
  </div>
{% endif %}

{% endblock %}
