@font-face {
    font-family: "Bavista Soulare";
    src: url('../fonts/Bavista_Soulare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #f9f8f0;
    color: #142c35;
    line-height: 1.6;
    margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
    background-color: #ca9e67;
    color: #f9f8f0;
    text-align: center;
    padding: 1em 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142c35;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #f9f8f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #0d1e24;
    color: #f9f8f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    margin-top: 50px;
}

.recipe-realm-font {
    font-family: 'Bavista Soulare';
    color: #444343;
    font-size: 16pt;
}