@font-face {
    font-family: "Bavista Soulare";
    src: url('../fonts/Bavista_Soulare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'poppins';
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Bavista Soulare';
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 0;
}

h3 {
    font-family: 'Bavista Soulare';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
}

.btn-primary {
    margin: 10px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border: rgba(0,0,0,0.5) solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: #ca9e67;
    color: #fff;
    cursor: pointer;
    font-family: "poppins";
    font-size: var(--h3-font-size);
    width: 30%;
    align-self: center;
}

.btn-primary:hover {
    background-color: #7d5627;
}

.container form {
    width: 100%;
}

.recipe-container,
.ingredients-container,
.steps-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ingredient-form {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px; 
}

.ingredient-form:last-child {
    border-bottom: none;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* Clear floats */
.row::after {
    content: "";
    clear: both;
    display: table;
}

form {
    margin: 20px 0;
}

form div {
    margin-bottom: 10px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

form div textarea,
form div input[type='text'],
form div input[type='number'],
form div input[type='file'] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
}

form div button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    margin-top: 10px;
}

form div button:hover {
    background: #555;
}

.btn-submit {
    background-color: #333; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-submit:hover {
    background-color: #555; /* Darker green on hover */
}