@font-face {
    font-family: "Bavista Soulare";
    src: url('../fonts/Bavista_Soulare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);

  /*========== Font and typography ==========*/
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s;
}

h1, h2 {
    color: #142c35;
    font-family: 'Bavista Soulare';
    font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.recipe-realm-font {
    font-family: 'Bavista Soulare';
    color: #444343;
    font-size: 16pt;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== Welcome ===============*/
#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.75)
  )
  ,url("../imgs/MainPicture3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#welcome .container {
  max-width: 720px;
}

#welcome h1{
  color: white;
  font-weight: bold;
}

#welcome p{
  font-family: "Bavista Soulare";
  font-size: var(--h3-font-size);
  color: white;
  padding: 0px 30px;
}

#welcome p span {
  font-family: "Bavista Soulare";
  font-weight: bold;
}

.btn-primary {
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border: rgba(0,0,0,0.5) solid 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  background-color: #ca9e67;
  color: #fff;
  cursor: pointer;
  font-family: "Bavista Soulare";
  font-size: var(--h3-font-size);
}

.btn-primary:hover {
  background-color: #7d5627;
}

/*=============== Recipes ===============*/
.recipes__container {
  overflow: initial;
}

.recipes__container .recipes__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.recipes__img {
  width: 250px;
  border-radius: .75rem;
  margin-bottom: 1.5rem;
  align-self: center;
}

.recipes__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.recipes__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
}

.recipes__button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.recipes__button i {
  font-size: 1rem;
  transition: transform .3s;
}

.recipes__button:hover i{
  transform: translateX(.25rem);
}

/* Swiper class */
.recipes__container .swiper-button-prev::after,
.recipes__container .swiper-button-next::after {
  content: '';
}

.recipes__container .swiper-button-prev,
.recipes__container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
}

.recipes__container .swiper-button-prev{
  left: 0.2rem;
  top: 4.5rem;
}

.recipes__container .swiper-button-next {
  right: 0.2rem;
  top: 4.5rem;
}

.recipes__container .swiper-slide {
  margin-bottom: 4.5rem;
}

.recipes__container .swiper-pagination-bullets{
  bottom: 0;
}

.recipes__container .swiper-pagination-bullet{
  background-color: var(--text-color-light);
  opacity: initial;
}

.recipes__container .swiper-pagination-bullet-active {
  background-color: var(--title-color);
}




/*========== RESPONSIVE ==========*/
@media screen and (max-width: 340px){
  .container {
    margin-inline: 1rem;
  }
  .recipes__img{
    width: 200px;
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 576px){
  .recipes__container {
    width: 400px;
    overflow: hidden;
  }
}

@media screen and (min-width: 767px){
  .recipes__container {
    width: 500px;
  }
}

@media screen and (min-width: 1200px){
  .container {
    margin-inline: auto;
  }

  .recipes__container {
    width: 900px;
  }

  .recipes__container .swiper-button-prev,
  .recipes__container .swiper-button-next{
    font-size: 3rem;
  }
}