@font-face {
    font-family: "Bavista Soulare";
    src: url('../fonts/Bavista_Soulare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f8f0;
    color: #142c35;
    line-height: 1.6;
  }

h1 {
    color: #142c35;
    font-family: 'Bavista Soulare';
    text-align: center;
    font-size: 40pt;
    text-align: left;
    margin: 30px;
}

h2 {
  font-family: 'Bavista Soulare';
  color: #142c35;
}

h3 {
  color: #142c35;
  margin: 0; /* Remove default margins from h3 elements */
  white-space: nowrap; /* Keep the icon and text on the same line */
}


.recipe-bookmark {
  margin: 30px;
  display: flex;
  justify-content: left; /* Distribute space between the items */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.recipe-info {
  display: flex;
  justify-content: left; /* Distribute space between the items */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  margin: 30px;
}

.recipe-info > div {
  /* If you want to ensure that the divs do not shrink or grow, set them to not flex */
  flex: 0 0 auto;
  margin: 0 5px; /* Add a little space between each div */
}


.user-image {
  display: flex; /* Activates Flexbox layout */
  align-items: center; /* Vertically centers the items in the container */
  gap: 10px; /* Provides some space between the image and the text */
}

.user-image img {
  border-radius: 50%; /* Makes the image round */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  margin-left: 30px;
}



/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #ffffff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent  {
  margin: 20px;
  justify-content: center; /* Distribute space between the items */
  align-items: center; /* Align items vertically */
  flex: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word; /* prevents text from overflowing */
}





.card-columns {
  display: flex; /* Enables Flexbox */
}

.card-column1 {
  width: 35%; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;

}
.card-column2 {
  width:65%;   background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
}



  

  
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1; /* allows the card body to expand */
  }
  
  .recipe-title {
    color: #142c35;
    margin-bottom: 10px;
    word-wrap: break-word; /* prevents text from overflowing */
  }
  
