@font-face {
    font-family: "Bavista Soulare";
    src: url('../fonts/Bavista_Soulare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f8f0;
    color: #142c35;
    line-height: 1.6;
  }

h1 {
    font-family: 'Bavista Soulare';
    color: #142c35;
    text-align: center;
    font-size: 40pt;
}

h2 {
  font-family: 'Bavista Soulare';
  color: #142c35;
}

.container {
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  display: flex;
  justify-content: space-between;
}




.profile-container {
  width: 20%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  
  /* Container for recipes */

  
  .recipes-grid {
    display: grid;
    width: 70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr; /* creates a responsive grid layout */
    gap: 10px; /* space between cards */
    align-items: start; /* aligns items to the start of the grid area */
  }
  
  .recipes-header {
    grid-column: 1 / -1; /* header will span all columns */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-card {
    display: flex;
    flex-direction: column;
    height: 100%; /* makes sure all cards have the same height */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background: #f0eeee;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 200px; /* fixed height for images */
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1; /* allows the card body to expand */
  }
  
  .recipe-title {
    color: #142c35;
    margin-bottom: 10px;
    word-wrap: break-word; /* prevents text from overflowing */
  }
  
  .recipe-description,
  .recipe-servings,
  .recipe-cook-time {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* aligns content to the top */
    word-wrap: break-word; /* prevents text from overflowing */
  }
  
  .recipe-description h3,
  .recipe-servings h3,
  .recipe-cook-time h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .recipe-description p,
  .recipe-servings p,
  .recipe-cook-time p {
    color: #666;
  }
  
  /* Ensures all paragraphs have the same height for alignment */
  .recipe-description p,
  .recipe-servings p,
  .recipe-cook-time p {
    display: flex;
    align-items: center;
    min-height: 3em; /* adjust accordingly */
  }
  
