{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated: %}
    <div class="profile-container">
        <div class="profile-header">
          <h1>User Profile</h1>
          <p>Welcome to your profile page!</p>
        </div>
        
        <div class="profile-content">
          <div class="profile-picture">
            <img src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Profile Picture">
          </div>
          <div class="profile-info">
            <h2>{{current_user.name}}</h2>
            <p>@johndoe</p>
            <p>Member since: January 2023</p>
          </div>
          <div>
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Pellentesque habitant morbi tristique senectus et netus.</p>
          </div>
        </div>
        
        <div class="profile-footer">
          <p>Contact info: <a href="mailto:{{current_user.email}}">{{current_user.email}}</a></p>
        </div>
      </div>
{% endif %}
{% endblock %}