{% extends "base.html" %}

{% block title %}
User
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<div class="upload">
    <form action="/recipe_vision" method="post" enctype="multipart/form-data">
        <label for="fileUpload">Upload an image:</label>
        <input type="file" id="fileUpload" name="file">
        <input type="submit" value="Upload Image" name="submit">
    </form>
</div>

<div id="imageDisplay">
    {% if uploaded_image %}
        <h3>Uploaded Image:</h3>
        <img src="{{ uploaded_image }}" alt="Uploaded Image">
    {% endif %}
</div>
{% endblock %}
