{% extends "base.html" %}

{% block title %}
Create Recipe
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert">
        {% with messages = get_flashed_messages(category_filter=["create_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-create_error">{{ message }}</div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    </div>
    <div class="title">
        <h1>Create a New Recipe</h1>
    </div>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.create_recipe') }}">
        <div class="recipe-container">
            {{ recipe_form.hidden_tag() }}

            <!-- Título -->
            <div>
                {{ recipe_form.title.label }}
                {{ recipe_form.title(size=20) }}
                {% if recipe_form.title.errors %}
                    <ul>
                        {% for error in recipe_form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Descripción -->
            <div>
                {{ recipe_form.description.label }}
                {{ recipe_form.description(rows=3) }}
                {% if recipe_form.description.errors %}
                    <ul>
                        {% for error in recipe_form.description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Servings y Cook Time -->
            <div>
                {{ recipe_form.servings.label }}
                {{ recipe_form.servings }}
                {% if recipe_form.servings.errors %}
                    <ul>
                        {% for error in recipe_form.servings.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ recipe_form.cook_time.label }}
                {{ recipe_form.cook_time }}
                {% if recipe_form.cook_time.errors %}
                    <ul>
                        {% for error in recipe_form.cook_time.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ recipe_form.type_food.label }}
                {{ recipe_form.type_food() }}
                {% if recipe_form.type_food.errors %}
                    <ul>
                        {% for error in recipe_form.type_food.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ recipe_form.category_food.label }}
                {{ recipe_form.category_food() }}
                {% if recipe_form.category_food.errors %}
                    <ul>
                        {% for error in recipe_form.category_food.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Campo para Cargar Imagen -->
            <div>
                {{ recipe_form.image.label }}
                {{ recipe_form.image }}
                {% if recipe_form.image.errors %}
                    <ul>
                        {% for error in recipe_form.image.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="ingredients-container">
            <h3>Ingredients</h3>
            {{ ingredient_form.hidden_tag() }}
            <div id="ingredients-container">
                <!-- Aquí se insertarán dinámicamente los formularios de ingredientes -->
                <div class="ingredient-form">
                    {{ ingredient_form.new_ingredient.label }}
                    {{ ingredient_form.new_ingredient() }}

                    {{ ingredient_form.quantity.label }}
                    {{ ingredient_form.quantity() }}

                    {{ ingredient_form.unit_of_measurement.label }}
                    {{ ingredient_form.unit_of_measurement() }}
                </div>
            </div>
            <br>
            <button type="button" id="add-ingredient-btn" class="btn-primary">Add New Ingredient</button>
        </div>
        
        <div class="steps-container">
            <h3>Steps</h3>
            {{ step_form.hidden_tag() }}

            <!-- Contenedor para Formularios de Pasos -->
            <div id="steps-container">
                <!-- El formulario de paso inicial -->
                <div class="step-form">
                    <input type="hidden" name="step_sequence_number[]" value="1" />
                    <label>Step 1</label>
                    {{ step_form.step_description.label }} {{ step_form.step_description(rows=3) }}
                    <!-- Botón para borrar el paso -->
                </div>
            </div>

            <!-- Botón para Agregar Nuevo Formulario de Pasos -->
            <button type="button" id="add-step-btn" class="btn-primary">Add New Step</button>
        </div>

        <div>
            {{ recipe_form.submit(class_='btn-submit') }}
        </div>
    </form>
</div>
<script>
    function updateStepNumbers() {
        // Actualizar los números de secuencia y etiquetas
        const allSteps = document.querySelectorAll('#steps-container .step-form');
        allSteps.forEach((stepForm, index) => {
            const stepNumberInput = stepForm.querySelector('input[type="hidden"]');
            stepNumberInput.value = index + 1;
            const stepLabel = stepForm.querySelector('label');
            stepLabel.textContent = 'Step ' + (index + 1);
        });
    }

    document.getElementById('add-ingredient-btn').addEventListener('click', function() {
        const container = document.getElementById('ingredients-container');
        const newIngredientForm = container.firstElementChild.cloneNode(true);
        // Restablecer los valores del formulario clonado
        newIngredientForm.querySelectorAll('input').forEach(input => input.value = '');
        newIngredientForm.querySelectorAll('select').forEach(select => select.selectedIndex = 0);
        // Asegúrate de que solo los formularios clonados tengan un botón de eliminar
        if (container.children.length > 0) {
            const removeButton = newIngredientForm.querySelector('.remove-ingredient');
            if (!removeButton) {
                const button = document.createElement('button');
                button.type = 'button';
                button.textContent = 'Remove Ingredient';
                button.classList.add('remove-ingredient');
                newIngredientForm.appendChild(button);
            }
        }
        container.appendChild(newIngredientForm);
    });

    document.getElementById('ingredients-container').addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-ingredient')) {
            // Asegúrate de que no estás eliminando el último formulario de ingredientes
            if (event.currentTarget.children.length > 1) {
                event.target.closest('.ingredient-form').remove();
            }
        }
    });
    
    document.getElementById('add-step-btn').addEventListener('click', function() {
        const container = document.getElementById('steps-container');
        const newStepForm = container.firstElementChild.cloneNode(true);
        // Restablecer los valores del formulario clonado
        newStepForm.querySelector('textarea').value = '';
        // Asegúrate de que solo los formularios clonados tengan un botón de eliminar
        if (container.children.length > 0) {
            const removeButton = newStepForm.querySelector('.remove-step');
            if (!removeButton) {
                const button = document.createElement('button');
                button.type = 'button';
                button.textContent = 'Remove Step';
                button.classList.add('remove-step');
                newStepForm.appendChild(button);
            }
        }
        container.appendChild(newStepForm);
        updateStepNumbers();
    });

    document.getElementById('steps-container').addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-step')) {
            // Asegúrate de que no estás eliminando el último formulario de pasos
            if (event.currentTarget.children.length > 1) {
                event.target.closest('.step-form').remove();
                updateStepNumbers();
            }
        }
    });

    updateStepNumbers();
</script>
{% endblock %}